<html>
<table width="800px">
  <tr>
    <td  class="hdt" align="center" colspan="2">
      <b> Back Channel Application </b>
    </td>
  </tr>
  <tr>
    <td align="right">
      <%= link_to 'Home', posts_path  %> |
      <% if session[:user_id] <= 0 %>
          <%= link_to 'Login', new_homepage_path %>
      <% end %>
      <% if session[:user_access] == "y" %>
          <%= link_to 'Admin Menu', adminmp_path %>  |
      <%end%>
      <% if (session[:user_id] > 0)%>
          <%= link_to 'Logout', logout_path %>
      <%end%>
    </td>
  </tr>
</table>
<br/>

<h3>User Accounts</h3>
<body>
 <%  inc = 2 %>
<table width="200px">
    <% @userlist.each do |u| %>
      <% if inc == 1%>
          <% inc = 2 %>
      <% else if inc == 2%>
              <% inc = 1 %>
          <% end %>
      <% end %>
      <tr id="pst<%= inc %>">
        <td align="center">
        <%=  u.username %>  <br>
        </td>
      </tr>
    <% end %>

</table>

</body>
</html>