<table width="800px">
  <tr>
    <td  class="hdt" align="center" >
      <b> Back Channel Application </b>
    </td>
  </tr>
  <tr><td align="right"><%= link_to 'View/Search Posts', posts_path(:id => "guest") %></td></tr>
</table>

<p id="notice"><%= notice %></p>

<!-- Login Page -->

<%= form_tag homepages_path do %>
    <p>
      <%= label_tag :username %><br />
      <%= text_field_tag :username %>
    </p>
    <p>
      <%= label_tag :password %><br />
      <%= password_field_tag :password %>
    </p>
    <p>
      <%= submit_tag "Login" %>
    </p>

<% end %>

<table>
  <tr>
    <td>
      <%= link_to "Not Registered yet! sign up", new_user_path %>
    </td>
  </tr>
  <tr>
    <td>
      <%= link_to "Continue as Guest", posts_path(:id => "guest") %>
    </td>
  </tr>
</table>